:root {
    --bg-color: #2D3A3A;
    --container-color: #424874;
    --font-color: #EEF0F2;
    --tooltip-color: #A2999E;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    fill: var(--font-color);
    height: 100vh;
}

#chart-container {
    text-align: center;
    height: 80%;
    width: 100%;
    max-width: 1500px;
    background-color: var(--container-color);
    margin: 2rem;
    padding: 1rem 5rem 0rem 5rem;
    border-radius: 2rem;
}

svg {
    height: 100%;
    width: 100%;
}

#title {
    font-size: 2rem;
}

#x-axis,
#y-axis {
    color: var(--font-color);
    font-size: 1rem;
}

#y-axis-label {
    font-size: 1rem;
}

#tooltip {
    background-color: var(--tooltip-color);
    position: absolute;
    font-size: 0.7rem;
    padding: 0.7rem;
    border-radius: 1rem;
    color: var(--font-color);
    transition: opacity 200ms;
}